*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    background-image: url("img/week4.png");
    background-size: cover;
}
h1{
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 65px;
    color: silver;
}
h2 {
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 65px;
    color: silver;
    position: relative;
    bottom: -10px;
}
a{
    font-family: 'Mate SC', serif;
    font-size: 24px;
    display: table-header-group;
    position: relative;
    left: 25px;

}
a:link {
    color: silver;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: silver;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
