body {
    background-image: url("img/week2.jpg");
    background-size: cover;
}
h2{
    position: relative;
    bottom: -110px;
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 65px;
    color: silver;
}
a{
    font-family: 'Mate SC', serif;
    font-size: 30px;
    display: table-header-group;
    font-weight: 600;
    position: relative;
    left: 25px;
}