*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
h1{
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 65px;
    color: silver;
}
a:link {
    color: silver;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: silver;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}