body{
    background-image: url("img/week1.jpg");
    background-size: cover;
}
h2{
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 65px;
    color: silver;
    position: relative;
    bottom: -80px;
}
a{
    font-family: 'Mate SC', serif;
    font-size: 30px;
    display: table-header-group;
    position: relative;
    left: 25px;
}
